body {
  margin: 0;
  background: #000000;
  padding-bottom: 25vh;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --text-right: 30vw;
  --panel-height: 30vh;
  --texts-top: 47vh;
  --panels-top: -25vh;
  --text-gap: 50vh;
  --panel-gap: -33vh;
}

.three-element {
  height: var(--panel-height);
  margin-top: var(--panel-gap);
}

.three-element-first {
  margin-top: var(--panels-top);
}

.html-element {
  position: relative;
  z-index: 1;
}

.html-text {
  padding-left: var(--text-right);
  margin-top: var(--text-gap);
}

.html-text-first {
  margin-top: var(--texts-top);
}

.html-title, .html-description {
  font-family: 'Trebuchet MS', sans-serif;
  color: rgba(32, 32, 32);
  text-align: center;
}

.html-txtSpanTop, .html-txtSpanBtm {
  background-color: rgba(256, 256, 256, 0.7);
  padding: .6em 1em;
}

.html-txtSpanTop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.html-txtSpanBtm {
  margin-top: -.6em;
  border-radius: 10px;
  display: inline-block;
}

.html-title {
  font-size: 1.5rem;
}

.html-description {
  font-size: 1.2rem;
}

.LevaButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
