body {
  margin: 0;
  background: #000000;
  padding-bottom: 25vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.three-element {
  height: 30vh;
  margin-top: -66vh;
}

.html-element {
  position: relative;
  z-index: 1;
}

.html-text {
  padding-left: 30vw;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.html-title, .html-description {
  font-family: 'Trebuchet MS', sans-serif;
  color: rgba(32, 32, 32);
  text-align: center;
}

.html-txtSpanTop, .html-txtSpanBtm {
  background-color: rgba(256, 256, 256, 0.7);
  padding: .6em 1em;
}

.html-txtSpanTop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.html-txtSpanBtm {
  margin-top: -.6em;
  border-radius: 10px;
  display: inline-block;
}

.html-title {
  font-size: 1.5rem;
}

.html-description {
  font-size: 1.2rem;
}
